<section
  id="education"
  class="education p-5 fadeinleft animation-duration-500"
>
  <div class="heading text-center py-2">
    <h1>My <span>Journey</span></h1>
  </div>
  <p-timeline [value]="events" layout="horizontal" align="bottom">
    <ng-template pTemplate="opposite" let-event>
      <div class="eduCard shadow-2 border-round">
        <h4 class="fw-bold text-justify">{{ event.degree | uppercase}}</h4>
        <span class="fs-6 text-end"> -> {{ event.duration | uppercase }}</span>
        <p class="fw-bold text-justify">{{ event.institute | uppercase }}</p>
        <p class="text-center" >{{ event.description }}</p>
      </div>
    </ng-template>
  </p-timeline>
</section>
