<section id="about" class="py-5 flex-row">
  <div class="heading text-center py-2">
    <h1>About <span>Me</span></h1>
  </div>
  <div class="row justify-content-center">
    <h1 class="name py-5 text-center">Full Stack Developer</h1>
    <p class="contextAbout px-5">
      I am a Fresher Full Stack Developer with a passion for developing and
      managing web applications. My greatest strengths are my problem-solving
      skills, creativity and strong communication skills. Despite being new to
      the industry, I have been able to deliver projects on time and within
      budget, while ensuring the highest quality standards. My biggest
      achievement so far has been creating a responsive UI for a web application
      that significantly improved user experience. I am proficient in various
      development languages such as HTML, CSS, JavaScript, Node.js, React.js and
      MongoDB. Additionally, I have excellent interpersonal skills and I am
      highly organized. I am confident that I can contribute to your
      organization's success.
    </p>
  </div>
</section>
