<div class="row">
  <div class="text px-5">
    <div class="heading text-center py-2">
      <h1 class="py-5 text-center">Hi, I'm <br />Shashi Nellivalasa</h1>
    </div>
    <p class="context px-5 mx-5">
      I am a full stack web developer with expertise in front and back-end
      development. My skills in HTML, CSS, JavaScript, and angular, React js
      frameworks allow me to create dynamic and responsive web applications that
      meet the needs of businesses and users alike.I also have experience in
      database management and server-side programming languages such as Node.js
      and Python.
    </p>
    <div class="buttons row my-5 justify-content-center">
      <h2 class="connect fs-3 fw-bold text-center">Connect With Me!</h2>
      <a href="https://github.com/shashin26" target="_blank">
        <p-button
          icon="pi pi-github"
          styleClass="p-button-rounded p-button-info p-button-raised"
        >
        </p-button>
      </a>

      <p-button
        icon="pi pi-linkedin"
        styleClass="p-button-rounded p-button-info p-button-raised"
      ></p-button>
      <p-button
        icon="pi pi-instagram"
        styleClass="p-button-rounded p-button-info p-button-raised"
      ></p-button>
    </div>
  </div>
  <div class="img flex justify-content-center">
    <img class="profilePic" src="assets/profile-pic.png" alt="" />
  </div>
</div>
